[2022-01-19 06:50] ghachey opened #1 "Calendar apply to all"
On 10/28/2021 10:16 PM, Bob Ghosh wrote:

Are you saying that if an school admin configures an event in the calendar and check marks "apply to all schools" that it will be added to all the schools in the same state ID as it would be entered below?

![Screenshot 2022-01-19 144324](https://user-images.githubusercontent.com/1091769/150078875-cf8a88b2-71a9-4d13-8a98-ff6790db7abb.jpg)

It's important t

[2022-01-25 03:27] ghachey opened #2 "Missing support to group assign the grade of students"
![no-group-assign-grade](https://user-images.githubusercontent.com/1091769/150905574-03938421-3c24-4b02-ab66-16e774087688.jpg)

[2022-01-25 14:00] openSISAdmin commented on #2
This feature has been developed and is in final testing and will be delivered over the weekend.

[2022-01-25 14:20] openSISAdmin commented on #1
This apply to all schools is for an Administrator with multiple school access. Whichever school the admin has access to will inherit the event. It is just like what we have in openSIS Legacy.

[2022-01-26 07:03] ghachey opened #3 "Rooms can not be edited after they are used"
There is a problem that is not typical of SQL database design. Typically an association in SQL between table will be done with the primary/foreign keys and does not completely stop changing the name and description for example. But now that we have some course sections defined with those rooms we can no longer edit them (not even the name or a comment!) This is undesirable for many reasons.

![edi

[2022-01-26 15:25] openSISAdmin commented on #3
@Sabya-openSIS

Room capacity can also be edited. Example: If it is set fo 50 and there are 20 Students, the capacity can be reduced to 20 or increased to any number.

The Title should also be editable. Even after association.

[2022-02-02 06:13] ghachey opened #8 "Reset password irrelevant error"
When trying to reset a password for a user I get the following irrelevant error.

![error](https://user-images.githubusercontent.com/1091769/152091081-1b170be6-ddd0-4c7d-bf3b-ccc9c1adea7a.jpg)

[2022-02-02 06:15] ghachey opened #9 "Missing the standard forgot password feature"
This is important and is missing.

![Uploading missing-forgot-password.jpg…]()

[2022-02-03 08:40] sourav276 commented on #3
@openSISAdmin : Issue resolved.

[2022-02-03 08:40] sourav276 commented on #2
@openSISAdmin : Issue resolved.

[2022-02-04 15:01] #2 closed, assigned to nobody

[2022-02-04 15:01] #3 closed, assigned to nobody

[2022-02-04 15:02] #1 closed, assigned to nobody

[2022-03-07 02:21] ghachey opened #142 "Copy from school template error"
![image_2022_03_07T02_15_36_133Z](https://user-images.githubusercontent.com/1091769/156956815-0bc60f56-9af0-4801-8f80-1209c8c8a606.png)

[2022-03-07 15:50] sourav276 commented on #142
@ghachey : Issue is fixed.

[2022-03-07 22:36] ghachey opened #150 "Scheduling can't set the start date"
When doing either individual scheduling or group scheduling there is no way to set the start date of the course.

In the classic openSIS we could set this start date during both individual and group scheduling as shown below.

![schedule-2](https://user-images.githubusercontent.com/1091769/157129245-53ddc112-20e4-42c5-99c6-5690b7a4acf0.jpg)
![schedule-3](https://user-images.githubusercontent.com/1

[2022-03-07 22:43] ghachey opened #151 "Attendance for the whole school in same course"
For small schools our data staff has found a more convenient way to take attendance. This is usually for small remote schools not ready to use the SIS. They opt for the central data office to do the data entry for them. For example, a small school teaching Grade Kinder, 1, 2, 3. Attendance is taken in the morning. Instead of creating Homeroom Grade Kinder, Home Grade 1, etc. they opt to create a s

[2022-03-07 23:00] ghachey opened #152 "Show dropped course not having any effect"
We dropped a student from a scheduled course (using the group drop). Looking at the student individually then seems to correctly show the dropped/end course date. But it is showing in the list of enrolled course regardless of whether the show dropped courses is check marked or not.

![show-dropped-course](https://user-images.githubusercontent.com/1091769/157132481-c9b62dac-f3c8-4ec2-af5c-0559d9276

[2022-03-07 23:20] openSISAdmin commented on #151
Yes. It is a very common practice. Many private schools have an assembly in the morning where they sing and whoever is present is present for the whole day.

[2022-03-07 23:22] openSISAdmin commented on #152
The student will show on the course list till midnight on March 8th.

Check it on March 9th.

[2022-03-07 23:25] openSISAdmin commented on #150
Yes, the start date is something the admin chooses. System defaults to the beginning of the course start for future date scheduling and for a current date for scheduling into courses that are already in progress. Admin chooses the actual date based on when the student is enrolled.

If this is not possible, then this is a bug. We will have this looked at by testers.

[2022-03-07 23:33] ghachey commented on #152
We tried one on Mar 7 and same thing I think.

[2022-03-07 23:34] #151 closed, assigned to nobody

[2022-03-07 23:35] ghachey commented on #150
As reported, we do not see any place we can edit the start date (individual scheduling or group)

[2022-03-07 23:36] ghachey commented on #142
Great, thank you @sourav276 Looking forward to the upgrade. This issue can be closed when the code is merged into Master branch.

[2022-03-07 23:45] ghachey opened #153 "Group delete vs group drop"
It is possible to group (or individually) drop students from a scheduled course. However, it is only possible to completely delete a scheduled course for students individually (and not group delete). A common scenario we see is that a group of students are wrongly scheduled into a course. It is tedious to remove the schedule in each students individually as shown below. Either one of the following

[2022-03-08 00:04] openSISAdmin commented on #153
Group delete is what we need which will allow the user to delete the schedule without having to drop the student and create a transaction.

[2022-03-08 19:07] sourav276 commented on #142
@ghachey : All latest code is merged into Master branch.

[2022-03-08 22:24] ghachey opened #167 "Deleting unused course sections"
Sometimes course sections get added and then are no longer need. In this case, we had a Homeroom Grade 1, Homeroom Grade 2, etc. and all replaced with Homeroom All. Scheduled students and teachers were removed and there was no attendance or grade input transactions. But we are not able to remote them.

![deleting-couse-section](https://user-images.githubusercontent.com/1091769/157335842-885f9893-2

[2022-03-09 18:19] ghachey opened #172 "Take attendance not showing correctly"
We have a homeroom course section to take attendance as shown below.

![attendance-2](https://user-images.githubusercontent.com/1091769/157505679-134d29af-92e7-44fa-9e43-8a3ca461a382.jpg)

But when opening in a student course schedule it shows that it is not taking attendance.

![attendance-1](https://user-images.githubusercontent.com/1091769/157505692-fe2bf28a-c7c3-46ac-aba9-5ddc1c21cfd5.jpg)

[2022-03-11 20:41] ghachey commented on #152
This is in fact working as expected.

[2022-03-11 20:41] #152 closed, assigned to nobody

[2022-03-21 15:08] #142 closed, assigned to nobody

[2022-03-21 15:18] openSISAdmin commented on #9
The current forgot password in openSIS Classic is not a secured way to retrieve or reset passwords. It needs to be done via email. That is the reason we have removed it from this version.

[2022-03-21 17:12] openSISAdmin commented on #172
This issue has been fixed in developent. Waiting for final QA release and server update.

[2022-03-21 17:14] openSISAdmin commented on #153
Group delete is a complex functionality that requires many checking. It is being developed and expect to be completed by first week of April.

[2022-03-21 17:15] openSISAdmin commented on #167
This functionality is complete. Awaiting server refresh.

[2022-03-21 17:17] openSISAdmin commented on #150
It is with UI-UX. The backend API is complete. Once Angular work is completed we can put it in testing. ETA 2nd week of April.

[2022-03-21 17:18] openSISAdmin commented on #8
This must have gotten fixed as our testers were unable to replicate it.

[2022-03-21 17:18] #8 closed, assigned to nobody

[2022-03-21 20:02] ghachey commented on #9
This is a really important feature. A user needs a way to reset their password just like in any other modern system.

[2022-03-21 20:05] ghachey commented on #150
What is the recommended way around this at the moment. Most of our schools are late on schedule with data entry and by the time they schedule course it is only possible to record attendance, etc. from the date of scheduling (e.g. from March till end of school year) missing all the September till March data.

[2022-03-21 20:08] openSISAdmin commented on #9
All modern systems have email setups with client-specific SMTP server setups. This functionality is out of the scope of our delivery.

The current openSIS Classis has a password reset similar to openSIS2. The password retrieval is not secured and the information can be guessed.

The best way to reset a password is for an admin to open the user's record and reset it.

[2022-03-21 20:15] ghachey commented on #9
While this would be very acceptable in most cases I have encountered a case where I am locked out of my account. I never forget my passwords as they are stored in an encrypted database so I know I was using the correct password for my super admin account. Yet, after a period of no use I got completely locked out with no valid way to reset the password for this super admin user. I have since had to

[2022-03-21 20:34] openSISAdmin commented on #9
The lockout of users from inactivity has been updated to exclude admins. So that case will not happen. Your password will never expire.

You can look up any user and reset the password. That feature is there with the ability to generate passwords. Please check.

[2022-03-21 20:39] openSISAdmin commented on #150
Currently, the scheduled date can be changed individually by going to each student record from their 360. This is not a practical way to change for many students.

What we would suggest is to create the course sections for the current marking period (Spring) and schedule the students into them. We can run queries at the back end to put them in from the start of the Spring. Once the date selection

[2022-03-21 21:12] ghachey commented on #9
OK. But my original super admin is already locked out. So how to restore that one? If you can assist in restoring that one then we should be all good since they will never expire for super admin.

[2022-03-21 21:14] ghachey commented on #150
Yes, we know about the schedule date change for individual students but  it was not a practical solution as you point out. I provide you a list of students by email for each school for which this change is needed now and looking forward to this feature to return.

[2022-03-22 13:21] ghachey opened #210 "Students promoting to higher grade question"
We sometimes have a few students that get promoted to the next grade level during the school year. We tried to add new enrollment info but it doesn't allow us to select the same school. It seems the only option would be to edit the current information, but then this would mean to loose data on the first part of the school year for that student? What is the recommended procedure for a student promo

[2022-03-22 17:44] openSISAdmin commented on #210
There is no such option to promote a student in the middle of a school year. Promotion or retention happens during the rollover at the end of the school year.

We have not come across a use case like this before. If this is common in FSM, then we have to do an analysis and figure out the effort and cost involved to change the enrollment section. Also, what happens during the rollover? That student

[2022-03-22 18:00] ghachey commented on #210
A case where a student performs highly and "jumps" a grade in the middle of the school year does happen in RMI. The student would then promote to the following grade during next rollover. For example, a Grade 5 student performs very highly is bumped to Grade 6 in the middle of the school year. At the end of the school year during rollover he would promote to Grade 7. If this is not supported is si

[2022-03-22 18:04] openSISAdmin commented on #210
We have to do some research and get back to you.

[2022-03-22 18:09] ghachey commented on #210
Appreciated, thank you.

[2022-03-29 23:54] ghachey opened #245 "Super administrator question"
It is not really clear the process for creating new super administrators? Can this be clarified please.

[2022-03-30 11:42] sourav276 commented on #172
Issue fixed, please check.

[2022-03-30 12:37] sourav276 commented on #167
This functionality is done and updated in the server.

[2022-03-30 12:37] sourav276 commented on #153
This functionality is done and updated in the server.

[2022-03-30 12:38] sourav276 commented on #150
This functionality is done and updated in the server.

[2022-03-30 12:40] sourav276 commented on #9
From now Super Admin profile will never be locked.

[2022-03-30 13:22] #9 closed, assigned to nobody

[2022-03-30 17:26] #150 closed, assigned to nobody

[2022-03-30 17:26] #153 closed, assigned to nobody

[2022-03-30 17:26] #167 closed, assigned to nobody

[2022-03-30 17:27] #172 closed, assigned to nobody

[2022-03-30 18:37] openSISAdmin commented on #245
At this time for security reasons, we are creating Superadmin during installation. You can create School Admins and give them permissions to multiple schools.

[2022-03-30 19:52] openSISAdmin commented on #210
At this time we have to do this mid-year promotion manually. Please email a list of students with ID number and School name and we will add an additional transaction in their enrollment info area.

![image](https://user-images.githubusercontent.com/7434280/160919514-0434ea48-83ec-4d53-94ed-10f84bb31012.png)

[2022-03-30 23:40] ghachey commented on #245
What exactly is the difference between a super admin and an admin with access to all schools. From the role settings there looks like there is no difference?

[2022-03-30 23:43] ghachey commented on #210
Is the ability to do this from the UI a planned feature?

[2022-04-04 14:25] openSISAdmin commented on #245
The Superadmin gets access to all the schools that are created within the system by anybody. Whereas a school admin has to be given access to a school specifically.

For example, if one user with school addition permission adds a new school, the Superadmin will automatically have access to it. However, other school admins will not even know of its existence.

[2022-04-04 14:31] #245 closed, assigned to nobody

[2022-04-04 15:16] openSISAdmin commented on #210
This feature is not planned since no client has ever asked for this. We have to validate this requirement against the standard operating procedures of other schools first. Just building this feature and rolling it out has a potential danger of Admins unknowingly/randomly promoting students before rollover.

Let's do some research and make a decision later. At this time we are focusing on making th

[2022-04-04 19:14] ghachey commented on #210
Agreed. Let's focus on everything else. It's an edge case anyway and by no means urgent or necessary for successful use of product.

[2022-04-04 19:14] #210 closed, assigned to nobody

[2022-08-24 01:12] ghachey opened #435 "Disabled staff showed as active"
Is this normal. One staff seems disabled as it can not login.

![staff-disable](https://user-images.githubusercontent.com/1091769/186295597-3690bb5b-72b3-4519-b152-b09b1d8ff722.png)

But when doing an advanced search to locate the staff the list view shows it as "Active"?!

![staff-disable-2](https://user-images.githubusercontent.com/1091769/186295649-6cdce2c1-9b55-4c3d-b5e1-05f01509efef.png)

[2022-08-24 03:22] openSISAdmin commented on #435
This is correct. The disable staff check box blocks staff from logging in to the system.

To drop a staff, go to the staff's school info and put a drop date. That will make the staff inactive.

[2022-08-24 04:08] ghachey commented on #435
This is not the question. This is reporting an odd behavior. Please go through the above again. The staff is disabled but in the list view it is showing as active. This seems conflicting.

[2022-08-24 04:13] openSISAdmin commented on #435
The system is correct. The staff will show as "inactive" when dropped from school.

The "disable staff" switch is to disable portal access. It has nothing to do with the employment of the staff.

This is the employment status of the staff......not the portal access.

![image](https://user-images.githubusercontent.com/7434280/186327230-d4627dc8-43c5-4164-a22c-f9c4dcbbb2bf.png)

[2022-08-24 04:13] #435 closed, assigned to nobody

[2022-08-24 04:14] openSISAdmin commented on #435
Just for fun, go to that staff's school info and put a drop/end date of yesterday and then do a search.

[2022-08-24 05:16] ghachey commented on #435
ok, got it.

[2022-09-09 02:29] ghachey opened #436 "School without calendar throws error"
Can the error thrown be handled more gracefully if there is no calendar created for a school yet? Or is there not an automatically created calendar? How come I run into this error.

![school-no-calendar-error](https://user-images.githubusercontent.com/1091769/189259741-aacc859b-a9ca-4d58-b0f3-dd52ed68eebc.jpg)

[2022-09-09 02:57] ghachey opened #437 "School Administrator of a single school can put calendar events for all schools"
This is a problem. I would expect a "Apply to All School" on a calendar Event/Holiday to only apply to the schools for which the user as permissions to administer. Currently, an school administrator with permissions on a single school will apply to all schools in the system. Not the desirable effect and a problem is large nation/state wide deployments.

[2022-09-09 03:13] ghachey commented on #437
I believe this is likely also affecting school Notices.

[2022-09-12 02:04] ghachey opened #438 "Change tab order of Standard Grades Setting"
Can we slightly change the order of tabs. I think the simplest most generic one should be first tab (Standard Grades), then custom standards (School Specific Standards) and finally the US one (US Common Core Standard) last.

![Screenshot 2022-09-12 100150](https://user-images.githubusercontent.com/1091769/189561270-9c2f0918-6fdb-4a59-bb27-e819784755ef.jpg)

[2022-09-12 03:46] ghachey opened #439 "Question: Ignore for scheduling option in period no longer needed"
Is the option Ignore for scheduling available in the classic version no longer available? It's no longer needed?

[2022-09-12 06:08] ghachey opened #440 "Report Card Grades can no longer be set"
See this below. I believe this may happen then a school has had a rollover but did not have those settings the year before. This needs investigation and fix urgently.

<img width="821" alt="Screen Shot 2022-09-12 at 2 04 56 PM" src="https://user-images.githubusercontent.com/1091769/189584675-23762969-d61e-4ccb-857b-9358a228e453.png">

[2022-09-12 06:25] ghachey commented on #440
Upon closer examination this seems like it is working as expected. The settings are not available as the rollover is due. Do the rollover, logout and login again and settings become available for edit again.

[2022-09-12 06:25] #440 closed, assigned to nobody

[2022-09-12 07:51] ghachey opened #441 "Not seeing the custom category and fields"
Not sure if something else is needed or I am not looking at the right place but I tried creating a custom category (and fields) for Staff Fields as shown below.

![Screenshot 2022-09-12 154620](https://user-images.githubusercontent.com/1091769/189600732-3eb4d4fe-2ea3-43e1-a24a-9d7fcc46d889.jpg)

But then when I view an existing staff (or create a new one) I do not see it where I would expect it. I

[2022-09-12 08:20] ghachey opened #442 "Custom fields all school not working"
When I create custom category and fields and I try to check mark All Schools as shown below it does not seem to save the settings.

![Screenshot 2022-09-12 161700](https://user-images.githubusercontent.com/1091769/189605846-70eb7a8a-1a6e-4cb9-847a-27d75ebbdb71.jpg)

Because when I re-open the same item after above submission it is still unchecked.

![Screenshot 2022-09-12 161723](https://user-imag

[2022-09-12 08:34] ghachey commented on #442
Also, what will happen if a school is added **after** the custom field is created with All School flag true?

[2022-09-12 18:49] openSISAdmin commented on #439
It has moved inside the course section. It allows for both Student and Teacher conflicts.

![image](https://user-images.githubusercontent.com/7434280/189732554-5ed7ddbb-a86f-45d1-837f-4df420169529.png)

[2022-09-12 18:49] #439 closed, assigned to nobody

[2022-09-16 02:02] ghachey opened #443 "Pacific SIS app login fails"
It seems the app fails to login. This is a teacher just created and can login the web portal without any issue.

<img width="631" alt="Screen Shot 2022-09-16 at 9 59 05 AM" src="https://user-images.githubusercontent.com/1091769/190540333-e7e41783-36e1-41e3-a530-dca6af6b1500.png">

[2022-09-16 05:47] ghachey opened #444 "Contextualize app name"
It would be nice to contextualize the app to the local DB name. Places where openSIS is mentioned should be dynamically replaced with the tenant name. This way the system will automatically always display the name of the app the user is expecting avoiding confusion.

![Screenshot 2022-09-16 134332](https://user-images.githubusercontent.com/1091769/190565476-a4bcafe4-bdd0-4318-8c8e-1397dd0b0b9e.jpg

[2022-09-20 06:49] ghachey opened #445 "Settings can not be removed or edited"
For some settings there are some that have non-editable/non-removable values. An example is shown below. Another one is the School Classification. This is undesirable and it provides values that should not be allowed into the system. Why can't those default values not be removed?

![Screenshot 2022-09-20 144656](https://user-images.githubusercontent.com/1091769/191186803-da23074d-b2da-45f1-9602-c9

[2022-09-20 06:55] ghachey opened #446 "Custom school/student/staff field not working"
I create a custom staff field as a dropdown.

![Screenshot 2022-09-20 145426](https://user-images.githubusercontent.com/1091769/191188003-6d9b2810-971f-4a13-bb4c-d6da8959b2c8.jpg)

I go to the school and I can not edit.

![Screenshot 2022-09-20 145356](https://user-images.githubusercontent.com/1091769/191188086-dc35571c-a8af-4980-a316-812c4be56022.jpg)

The same is true for student, staff and scho

[2022-09-26 06:05] ghachey opened #447 "Add new enrollment button not working as expected"
When one hovers mouse on top of the plus (+) sign it says "add new". I would expect adding a new enrollment when clicking on this. Instead it just decollaspses the existing enrollment record as shown below. Perhaps this confusing plus + sign there in the page read view should be removed entirely?

![Screenshot 2022-09-26 140144](https://user-images.githubusercontent.com/1091769/192204839-48ddd35a-

[2022-09-26 06:08] ghachey opened #448 "Student documents no way to add any"
It seems there is no way to add any documents for students.

![Screenshot 2022-09-26 140646](https://user-images.githubusercontent.com/1091769/192204829-d7d8d309-0dfa-4b10-b7ce-86a68d1dd69e.jpg)

[2022-09-26 08:14] ghachey opened #449 "Audit trail on student enrollment not working"
When adding students individually (not bulk import) the audit trail data does not go into the database.

![Screenshot 2022-09-26 161154](https://user-images.githubusercontent.com/1091769/192226812-e899bc82-8af5-48a5-b424-6c9eabe7985e.jpg)

[2022-09-26 08:21] ghachey opened #450 "Calendar configuration on bulk upload not working"
When loading students using the bulk import feature it seems the calendar is not set in the student_enrollment table. I think this will cause issues down the line such as with attendance.

![Screenshot 2022-09-26 161543](https://user-images.githubusercontent.com/1091769/192228036-e52177f2-c8bc-4e05-b3b5-7729b181ebab.jpg)

[2022-09-26 08:30] ghachey opened #451 "Enrollment_ID not correctly set when bulk importing students"
When loading the students using the bulk import the enrollment_id is all set to 1 as shown below. I believe this is incorrect and should be a unique incrementing number looking at other previously loaded data. Can this be verified?

![Screenshot 2022-09-26 162818](https://user-images.githubusercontent.com/1091769/192230032-80ac7f36-cab9-40dc-a8ba-82ac2fce81fa.jpg)

[2022-09-27 04:11] ghachey opened #452 "Add Section to Filter Columns for Student List"
I think it would be very useful to be able to see the Section column. Can it be added to the Filter Column choices.

![Screenshot 2022-09-27 121005](https://user-images.githubusercontent.com/1091769/192430045-cb4bf7f0-ed7f-4917-9685-bcae6f3f03c5.jpg)

[2022-09-27 04:19] ghachey opened #453 "Enhance group assign info of students"
When group assigning info of student the data does not change when refreshing to the list of students. For example, I choose a single student, change to Section A and press refresh button to go back to list of students.

![Screenshot 2022-09-27 121418](https://user-images.githubusercontent.com/1091769/192430835-5baf7209-ee5f-4fc7-995d-d8a202578e1b.jpg)

I do not see the change as shown below.

![S

[2022-09-27 06:08] ghachey opened #454 "Parent module not ready"
Is the parent module not ready?

![Screenshot 2022-09-27 140752](https://user-images.githubusercontent.com/1091769/192446288-32dc8b08-4a33-4546-8271-34d17a61e1f5.jpg)

[2022-10-05 07:50] ghachey opened #455 "Student droppout can not select past date"
When trying to drop out a student from a school only today and thereafter dates are available. You can say a student dropped out last week. This is not acceptable since it is entirely possible to enter the dropped out data a few days after the student dropped.

![Screenshot 2022-10-05 154157](https://user-images.githubusercontent.com/1091769/194008383-af4ca4fe-95a8-4f58-927d-5ea1621daf53.jpg)

[2022-10-05 07:51] ghachey opened #456 "Student re-enroll can not find previously dropped out student"
I thought the purpose of student re-enroll was to re-enroll a previously dropped out student (and not create a duplicate). So when trying to drop out a student and re-enroll it can not be found in the search.

![Screenshot 2022-10-05 154712](https://user-images.githubusercontent.com/1091769/194008682-e58881ac-beb7-43be-a8a0-2e246f091a50.jpg)

This is related to #455

[2022-10-05 08:01] ghachey opened #457 "Transferred out students not transferred to other school"
When attempting to transfer a student out to another school it seems it remains in the same school. The enrollment history gets updated as follows but it remains as a student listed in the previous school and is nowhere to be found in the school to which is was supposed to be transferred.

![Screenshot 2022-10-05 155956](https://user-images.githubusercontent.com/1091769/194010563-a4680c6d-44fe-403

[2022-10-05 08:16] ghachey opened #458 "Student schedule excel download not meaningful data"
When doing a student schedule once can view the report which looks like this.

![Screenshot 2022-10-05 161400](https://user-images.githubusercontent.com/1091769/194013341-e9635bd9-b4e5-4b67-b145-32f258090b1c.jpg)

This looks good online. But the excel downloaded looks like this and is not really meaningful data export. Perhaps put a true value in each of the student under the column of the course

[2022-10-05 08:23] ghachey opened #459 "Advanced search pagination not working"
When doing an advanced search it seems to work only for the very first page of results. Clicking next page or changing the items shown both ignores the search criteria and display un-search results.

![Screenshot 2022-10-05 162003](https://user-images.githubusercontent.com/1091769/194014909-d22ccb2a-9f8f-4490-b4ed-1b861c4495a0.jpg)

![Screenshot 2022-10-05 162024](https://user-images.githubusercon

[2022-10-05 08:42] ghachey opened #460 "Can not group drop students before current date"
It is highly likely that one would want to group drop students for a date before the current date of today. But it is greyed out.

![Screenshot 2022-10-05 164111](https://user-images.githubusercontent.com/1091769/194018891-4de9910a-d235-41d2-84b0-4754b28db5aa.jpg)

[2022-10-05 09:09] ghachey opened #461 "Summary of students in schedule report incorrect"
![Screenshot 2022-10-05 170830](https://user-images.githubusercontent.com/1091769/194024304-3fad6236-1cc7-4cb5-a108-eb224528db47.jpg)

[2022-10-05 09:10] ghachey opened #462 "Schoolwide Schedule Report not working"
And also the "Schedules" Report is not working

[2022-10-05 09:13] ghachey opened #463 "Obsolete Course Period reference in Class List report"
I thought we moved away from the terminology Course Period to Course Section. It would be better to remain consistent everywhere.

![Screenshot 2022-10-05 171125](https://user-images.githubusercontent.com/1091769/194025060-fb55e8db-c30b-4924-8859-133a1d9dd152.jpg)

[2022-10-05 19:27] openSISAdmin commented on #463
Good catch

[2022-10-05 22:25] openSISAdmin commented on #460
Dropping a student on the past date is not allowed. The logic is correct.

[2022-10-05 22:28] openSISAdmin commented on #457
If a student is transferred out to another school, the enrollment record stays with the previous school also and is updated with a line item. The student should be seen as enrolled in the new school. Make sure the student is active in the new school.

[2022-10-05 22:29] openSISAdmin commented on #455
This is an error. System should allow student to be dropped in a past date. When this happens, the student will be dropped from enrolled courses.

[2022-10-05 23:12] ghachey commented on #460
I don't think I agree with this. If the student drop september 29. And the data entry officer is not at work that day. Comes in a few days later. He needs to be able to drop the student on the actual date student dropped.

[2022-10-05 23:13] ghachey commented on #455
And the same logic should apply to #460 as I reported

[2022-10-05 23:16] #457 closed, assigned to nobody

[2022-10-05 23:16] ghachey commented on #457
OK. The student is showing when searching for inactive.

[2022-10-06 00:58] ghachey opened #464 "Login not working for students loaded with bulk upload"
When loading students with bulk upload and including the fields login email address and password those credentials do not work to login for the student. And the portal access is enabled as shown below.

![Screenshot 2022-10-06 085336](https://user-images.githubusercontent.com/1091769/194189729-82162563-99a9-4f91-bb07-184e675fe060.jpg)

This is what we get.

![Screenshot 2022-10-06 085607](https://

[2022-10-06 01:05] ghachey opened #465 "Can't disable a student unless portal is active"
I think this is not a good requirement. A portal access should not be needed to disable a student. See below, without portal access no checkbox to disable student.
![Screenshot 2022-10-06 090114](https://user-images.githubusercontent.com/1091769/194191145-5e583ee9-f7d0-468f-90cc-cd3f7f58d65a.jpg)

When portal access is enabled, the checkbox appears.

![Screenshot 2022-10-06 090140](https://user-im

[2022-10-06 01:29] ghachey opened #466 "Incorrect schedule reports"
We have some incorrect reports. For example, I schedule 20 students in the Homeroom Attendance Report. I can view the class list report below which seems complete.

![Screenshot 2022-10-06 092405](https://user-images.githubusercontent.com/1091769/194193422-49820e87-cc07-4931-a4fe-96626ead40e5.jpg)

However, if I try the Schedule Report there are various small bugs. The seats are still showing 0 ou

[2022-10-06 01:53] ghachey opened #467 "Teacher profile display issues"
Two glaring issues when login in as teacher.

1) The colors of the courses keep changing every time a user browses to the Dashboard and back. This issue also present in Course->My Classes. One can't help of wonder if there is a meaning to this change of color and there is not. I'm not convince this random color change is a good thing. Material design is meant to convey meaning as best as possible.

[2022-10-06 02:17] ghachey opened #468 "Teacher My Schedule seems incorrect"
I find it hard to make sense of most of the different views of a teacher "My Schedule". It seems the only view that looks correct is the below.

![Screenshot 2022-10-06 101218](https://user-images.githubusercontent.com/1091769/194199131-9becd7e4-99c0-4aae-ad9a-a05111efd1cf.jpg)

All the other views below seem way off what a schedule for that teacher should look like which is simply Monday to Frida

[2022-10-06 02:30] ghachey opened #469 "Explicitly show which day there are missing attendance"
In the following view, there is no way to see that attendance was actually taken for August 1 and 2. The user needs to blindly click all days and eventually hope to catch all missing attendance. I would propose maybe color the course with meaning:

- in green when attendance has been taken
- in red when attendance in missing
- in light grey when attendance is not yet to be taken (future dates)

Th

[2022-10-06 02:56] ghachey opened #470 "Incorrect average daily attendance"
The below numbers seems wrong. Attendance was only taken for August 1, 2 and 3 and all days since now (October 6) have missing attendance. How can the numbers below be correct?

![Screenshot 2022-10-06 105405](https://user-images.githubusercontent.com/1091769/194203744-46373c63-ddfc-4b1a-98d3-1f527b20ecef.jpg)

[2022-10-06 02:57] ghachey opened #471 "Teachers with missing attendance seems not to be working"
I know I have missing attendance for one teacher. Yet using the missing attendance feature shows nothing.

![Screenshot 2022-10-06 103430](https://user-images.githubusercontent.com/1091769/194203929-2b5692b7-ef1e-46fb-9f78-216fe7229a80.jpg)

[2022-10-06 03:14] ghachey opened #472 "Update no effect in Attendance Administration"
Changing the attendance in the list view as shown below and clicking Update does not work.

![Screenshot 2022-10-06 111326](https://user-images.githubusercontent.com/1091769/194205912-2be20c12-0ad1-4119-9c55-6aa41e79af99.jpg)

Clicking on individual students and changing it there does take effect however.

[2022-10-12 09:07] Suman-Os4ed commented on #470
@openSISAdmin & @ghachey need school details, to check this issue.

[2022-10-12 09:17] Suman-Os4ed commented on #463
@Sabya-openSIS sir, need angular help.

[2022-10-12 11:20] Suman-Os4ed commented on #451
@ghachey , @openSISAdmin  & @Sabya-openSIS sir, in our system enrollment_id is incremented by tenantId, schoolId, studentId. that's why when a student enroll our system it's enrollment_id is 1.
In the above screenshot 4digit enrollment id is old data that are imported through excel.

[2022-10-12 14:53] Sabya-openSIS commented on #461
@ghachey need school name

[2022-10-12 14:56] Sabya-openSIS commented on #471
@ghachey need school name

[2022-10-12 18:52] openSISAdmin commented on #465
The disable switch is to deactivate the student's portal access.

To make a student inactive, drop the student from the school by adding a drop date to the enrollment record.

[2022-10-13 02:21] ghachey commented on #470
@Suman-Os4ed I can share a dump of my test database which I run with the latest source code of this repository. Where should I privately share it (as it also contains private data)É

[2022-10-13 02:26] ghachey commented on #451
@Suman-Os4ed (@openSISAdmin, @Sabya-openSIS)  what do you mean by "old data imported through excel"? I just imported this data with the new system. It is not old and reproducible. I remain unconvinced this is normal behavior.

[2022-10-13 02:28] ghachey commented on #461
@Sabya-openSIS It is a test school I use in my development environment. It's called Mango Elementary School. I can share the latest dump if you advise how I can share privately.

[2022-10-13 02:33] ghachey commented on #471
@Sabya-openSIS same school as mentioned in other issues. Please let me know how I can share with your my test SQL dump.

[2022-10-13 02:42] ghachey commented on #465
@openSISAdmin I don't think the "disable switch is to deactivate the student's portal access." I think to disable the student's portal access is controlled by the switch is "Portal Access" just above. If they both do the same thing then this seems clumsy at best and misleading at worse. Dropping a student to disable him is fine. But what if one wants to make him active? Currently you would need to

[2022-10-13 03:06] ghachey commented on #449
#474 seems to fix this issue.

[2022-10-13 03:09] ghachey commented on #462
@Suman-Os4ed #473 does not seem to fully address this issue yet. Or am I missing something?

[2022-10-13 06:10] Sabya-openSIS commented on #451
@ghachey , in our system enrollment_id is incremented by tenantId, schoolId, studentId. that's why when a student enroll our system it's enrollment_id is 1.

[2022-10-13 06:37] ghachey commented on #451
@Sabya-openSIS So are you saying the the following data looks normal? Examine it carefully.

![Screenshot 2022-10-13 143549](https://user-images.githubusercontent.com/1091769/195520376-be27212f-18c2-4ed9-981e-c219c91ec574.jpg)

[2022-10-13 06:58] Suman-Os4ed commented on #462
@ghachey , Issues are in development phase after development complete we will assign you tickets after that you can test issues.

[2022-10-13 07:07] ghachey commented on #462
@Suman-Os4ed when you say Development phase, do you refer to the development branch? Because I have the development already loaded in my workstation. I can already test now anything that is merged into the development branch. This is what I was reporting.

[2022-10-13 11:13] Suman-Os4ed commented on #462
@ghachey , for this ticket angular code is not complete yet.

[2022-10-14 09:24] Suman-Os4ed commented on #445
@Sabya-openSIS sir, we have some pre define value in School Level & School Classification that are need for adding a new school.

[2022-10-14 09:30] Suman-Os4ed commented on #455
@Sabya-openSIS sir, currently this feature are no available.

[2022-10-14 09:35] Suman-Os4ed commented on #464
@Sabya-openSIS sir, currently student login not available for website, it available only for app.

[2022-10-14 10:19] Suman-Os4ed commented on #471
@Sabya-openSIS  sir, missing attendance are count and added in table every night after 12.00 am by the scheduler background job at server. if it test locally then need to open opensis.backgroundjob project and change the connection string from tablecontext.cs file and run it, after that student's missing attendance will add in database and show it ui accordingly.

[2022-10-14 11:24] Sabya-openSIS commented on #471
@ghachey
https://github.com/PacificEMIS/Pacific-SIS/issues/471#issuecomment-1278804537

[2022-10-14 13:11] souviksarkar21 commented on #448
![image](https://user-images.githubusercontent.com/80878987/195855106-653d2959-b18b-41e9-acd3-419c553cdac7.png)

![image](https://user-images.githubusercontent.com/80878987/195855352-aefacf57-4e71-4432-8eb7-09a784392b7b.png)

[2022-10-15 07:24] poulami12 commented on #442
All schools will inherit the custom field

[2022-10-17 11:27] souviksarkar21 commented on #446
![image](https://user-images.githubusercontent.com/80878987/196165472-53947b63-6d38-46a6-93f8-bb0ea39d1d6f.png)

![image](https://user-images.githubusercontent.com/80878987/196165603-a3407131-636e-49ee-a047-13bc5fe6535e.png)

![image](https://user-images.githubusercontent.com/80878987/196165722-2325e523-b40e-4876-a761-d3ad0ee10fb4.png)

[2022-10-19 00:52] ghachey commented on #445
@Suman-Os4ed again, this is undesirable and should not be required and forced on users. Should be flexible.

[2022-10-19 00:54] ghachey commented on #455
@Suman-Os4ed, @openSISAdmin and @Sabya-openSIS  this is a very important feature. I would say basic for this system to be usable. When is this scheduled to be completed as it was part of the original specifications.

[2022-10-19 00:57] ghachey commented on #464
@Suman-Os4ed, @Sabya-openSIS and @openSISAdmin What app? Is there an updated version ready for testing?

[2022-10-19 00:58] ghachey commented on #470
@Suman-Os4ed Do you still require me to share the test database so you can get the data for reproducing this?

[2022-10-19 01:16] ghachey commented on #471
@Sabya-openSIS and @Suman-Os4ed Got you. So I did the running of the opensis.backgroundjob and the missing attendance seems to be showing and working. So I believe we can close this issue correct?

One quick question, in production does the database connection get's its setting from TableContext.cs or from the app's primary appsettings.json?

[2022-10-19 01:19] ghachey commented on #470
@Suman-Os4ed This looks like the numbers have changed? Is this considered fixed?

[2022-10-19 01:35] ghachey commented on #465
This seems to work now. The disable button is showed at all times. And disabling and enabling the settings seems to stick correctly. One comment on usability though. It seems that all enrollment course scheduled data remain untouched by disabling a student. So all attendance, etc. remain active for that student even when disabling it. So it would seem that to "disable" a student would require firs

[2022-10-19 01:42] ghachey commented on #448
@souviksarkar21 This feature is now working. It was not last I tested. The permissions is enabled by default with Super Administrator. Was this fixed? Perhaps it was just an edge case I saw? In any case, I think it can be close.

[2022-10-19 01:47] ghachey commented on #458
@souviksarkar21 and @Suman-Os4ed This is what I now get. I am not sure how this is better or even fixed at all?

![Screenshot 2022-10-19 094611](https://user-images.githubusercontent.com/1091769/196577903-49030dc8-be0e-4423-b428-410c39cdddde.jpg)

[2022-10-19 01:53] ghachey commented on #467
@souviksarkar21 and @Sabya-openSIS Issue number 2 above is fixed. Issue number 1 above has not changed. You still have this bizarre random color for the courses which convey no meaning and hence more of a distraction. @openSISAdmin Is this really what you think is appropriate here?

[2022-10-19 02:05] ghachey commented on #472
@Suman-Os4ed The original issue reported is still not working. One can not select the attendance data for multiple student in the list and click update. It does not stick; does not work.

@openSISAdmin Also, what does this feature mean to do here? If I click on a date I only get a single student? I suppose this is because it only lists attendance that have been taken. This would lead me to believe

[2022-10-19 02:09] ghachey commented on #442
@poulami12 The original issue remains. Clicking all schools setting does not stick (not saving). This needs investigation.

@poulami12 I remain unconvinced of this. I believe if a school is added *after* it will not have the custom field.

[2022-10-19 02:13] ghachey commented on #446
@souviksarkar21 Ok, one needs to explicitly add permission for the custom fields to work, even with a super administrator. Personally, I think a super admin should inherit the permission automatically, but the way it is I suppose is acceptable provided it is well documented.

[2022-10-19 02:13] ghachey commented on #446
This can be close I think.

[2022-10-19 02:17] ghachey commented on #441
@Suman-Os4ed Was there any work required here? I thought as in #34 that the only thing needed was to add the permission for this to show? In any case, I can now get it to work. So can this be considered closed?

[2022-10-19 05:16] ghachey commented on #450
@Suman-Os4ed @Sabya-openSIS this seems fixed.

[2022-10-19 05:21] ghachey commented on #436
I no longer see this error. I think this can be considered closed.

[2022-10-19 05:23] ghachey commented on #462
@Sabya-openSIS why is this issue assigned to me? This as far as I can tell is still not working. @Suman-Os4ed said angular code is not complete. Issue should be assigned to who will complete the work for this issue.

[2022-10-19 05:24] ghachey commented on #458
@Sabya-openSIS Why is this issue being assigned to me? It is not fixed as far as I can tell.

[2022-10-19 05:26] ghachey commented on #463
@Suman-Os4ed and @Sabya-openSIS Can you please properly fix this one. There is a missing space in the string if you see below.

![Screenshot 2022-10-19 132505](https://user-images.githubusercontent.com/1091769/196604526-94c9cfac-d94c-46e3-8c77-aafffcc04c31.jpg)

[2022-10-19 05:30] ghachey commented on #466
I think this can be considered complete in latest Development branch.

[2022-10-19 05:35] Suman-Os4ed commented on #472
@ghachey ,this issue still in work in progress

[2022-10-19 05:40] ghachey commented on #451
@Suman-Os4ed and @Sabya-openSIS  a clarification here would be appreciated. If it is normal as you say that the enrollment_id is all the same and incremented by tenantId, schoolId, studentId. Then I need to know if the old data will be problematic. If it is old data and it does not follow the new way of handling this data then will it be ok? Or does the data need to be fixed? This is important so

[2022-10-19 12:14] Suman-Os4ed commented on #462
@ghachey , please run below queries in your local database.

1. update permission_subcategory set path='/school/reports/schedule/schoolwide-schedule-report' where tenant_id="1e93c7bf-0fae-42bb-9e09-a1cedc8c0355" and permission_category_id=58 and permission_subcategory_name='Schoolwide Schedule Report';
2. update permission_subcategory set path='/school/reports/schedule/print-schedules' where tenan

[2022-10-19 12:20] Suman-Os4ed commented on #470
@ghachey , yeah this issue fixed. for right calculation you need to run opensis.backgroundJob project and add missing attendance in student_missing_attendance table.

[2022-10-20 01:45] ghachey commented on #470
@Suman-Os4ed thank you. Yes, I had run this background job and now do see the missing attendance. So I believe we can close this.

[2022-11-11 09:29] #470 closed, assigned to ghachey, openSISAdmin

[2022-11-11 09:30] Sabya-openSIS commented on #470
solved

[2022-11-11 09:30] Sabya-openSIS commented on #466
fixed

[2022-11-11 09:30] #466 closed, assigned to ghachey, openSISAdmin

[2022-11-11 09:36] Sabya-openSIS commented on #467
number 1  need enhancement

[2022-11-11 09:49] #450 closed, assigned to ghachey, openSISAdmin

[2022-11-11 09:54] #448 closed, assigned to ghachey, openSISAdmin

[2022-11-11 09:55] #446 closed, assigned to ghachey, openSISAdmin

[2022-11-11 09:55] #441 closed, assigned to ghachey, openSISAdmin

[2022-11-11 09:56] #436 closed, assigned to ghachey, openSISAdmin

[2022-11-11 09:59] Sabya-openSIS commented on #464
@ghachey website only support admin and staff portal

[2022-11-11 10:03] #463 closed, assigned to ghachey, openSISAdmin

[2022-11-11 10:07] Sabya-openSIS commented on #451
@ghachey @openSISAdmin
 no effect in ui side

[2022-11-11 10:24] sourav276 commented on #458
![image](https://user-images.githubusercontent.com/69669831/201320621-2cc8c36b-af4e-4e6f-8b62-b93898bf998e.png)

[2022-11-11 10:24] #458 closed, assigned to ghachey, openSISAdmin

[2022-11-14 03:54] ghachey commented on #451
@Sabya-openSIS so can this be closed safely without worry?

[2022-11-14 06:50] ghachey commented on #462
@Suman-Os4ed there is not rows that meet the criteria `where tenant_id="1e93c7bf-0fae-42bb-9e09-a1cedc8c0355" and permission_category_id=58 and permission_subcategory_name='Schoolwide Schedule Report';` so why do you want me to do this? There is also no rows that meet the criteria `where tenant_id="1e93c7bf-0fae-42bb-9e09-a1cedc8c0355" and permission_category_id=58 and permission_subcategory_name=

[2022-11-14 07:08] ghachey commented on #472
@Suman-Os4ed, @Sabya-openSIS and @openSISAdmin  This somewhat works but still feels not user friendly. I'm an advanced user and software developer yet I feel confused by how this feature works.

[2022-11-14 07:14] ghachey opened #488 "Attendance bizarre behavior"
Why is it that for some dates I see a full list of students and some dates I see only a single students in shown in the next three screenshots.

![Screenshot 2022-11-14 150449](https://user-images.githubusercontent.com/1091769/201597069-7dfea9a3-9ccc-4d70-a7e1-b1b8fd51978e.jpg)

![Screenshot 2022-11-14 150507](https://user-images.githubusercontent.com/1091769/201597073-53caf44e-1f3a-4018-9237-134e

[2022-11-14 07:20] ghachey commented on #488
I believe this is because attendance was taken for one students on October 4, 5, 6, 7 and hence the system marks it as if attendance has been taken. But not all attendance been taken for all students. This would explain the difference between the different Greens in the Present between the following two figures. So how will this be computed in terms of data. The light green seem to be simply a def

[2022-11-14 07:22] ghachey opened #489 "Table permission_category missing updated_on data"
Is the below normal? Why would there be a updated by data and not updated_on?

![Screenshot 2022-11-14 144532](https://user-images.githubusercontent.com/1091769/201598765-b22fc728-154a-43f4-a588-ea8e202c338d.jpg)

[2022-11-14 07:24] ghachey commented on #471
@Sabya-openSIS  and @Suman-Os4ed can I get a reply to my question please?

[2022-11-14 07:43] ghachey commented on #468
@Sabya-openSIS and @Suman-Os4ed I am confused at this. Why is this labelled Testing for me? I see no changes. Most of the schedule views of the teacher look completely wrong. Unusable in its current state. Am I missing something? I am using latest branch Development.

[2022-11-15 02:25] ghachey opened #490 "Can't reset password"
For user Mr. Sylvester Falognang En and possibly other users. The password can't be reset.

![Screenshot 2022-11-15 102158](https://user-images.githubusercontent.com/1091769/201811217-01616b60-f7d3-4f84-ab21-7af3b0944010.jpg)

[2022-11-15 03:19] ghachey opened #491 "Account inactive notification on login when user is clearly active"
![account-inactive-2022-11-15 111917](https://user-images.githubusercontent.com/1091769/201818457-59a9cbcf-0759-4dbc-9e26-25868bbe9fcc.jpg)

[2022-11-15 03:43] ghachey opened #492 "Can not add staff"
Is there something I am missing. I use to be able to add staff?!

![can-not-add-staff-2022-11-15 114218](https://user-images.githubusercontent.com/1091769/201821228-cf621202-6271-4da0-a6f8-1dcaa0ee50a6.jpg)

[2022-11-15 03:44] ghachey commented on #492
The add staff is not there when the school year is in the past. No issue here.

[2022-11-15 03:44] #492 closed, assigned to nobody

[2022-11-15 04:56] ghachey opened #493 "Teacher can not edit own profile"
They actually need to be made School Administrator.

![teacher-can-not-edit-profile-2022-11-15 125339](https://user-images.githubusercontent.com/1091769/201829892-222c6c6a-9936-4cda-971e-ebfc3e7843c2.jpg)

![teacher-can-not-edit-profile-2022-11-15 125415](https://user-images.githubusercontent.com/1091769/201829840-a7edcb8b-ba9f-4742-ada2-c0e9c5786f36.jpg)

[2022-11-15 05:33] ghachey commented on #491
This can happen if the school_id in user_master differs from the school_id in staff_id. I managed to fix the user using this strategy. I will close this as a non-issue as it may have occurred through process of loading old data and not necessarily from the new UI. If we see the issue again we can revisit this.

[2022-11-15 10:07] Sabya-openSIS commented on #493
At the time of 2nd time edit the membership object should pass null

[2022-11-15 10:30] Sabya-openSIS commented on #462
@ghachey @openSISAdmin is it working on production?

[2022-11-15 10:50] #489 closed, assigned to nobody

[2022-11-15 12:33] ghachey commented on #493
@Sabya-openSIS I don't understand this reply of yours. Is this being worked on?

[2022-11-15 12:38] ghachey commented on #462
@Sabya-openSIS there is not schedule as far as I know yet in production. We have not yet made it there. But my comments in https://github.com/PacificEMIS/Pacific-SIS/issues/462#issuecomment-1313174667 remains true for production also. There are no records with `where tenant_id="1e93c7bf-0fae-42bb-9e09-a1cedc8c0355" and permission_category_id=58 and permission_subcategory_name='Schoolwide Schedule

[2022-11-15 13:52] openSISAdmin commented on #493
Yes, this is for our Angular developer

[2022-11-15 16:58] openSISAdmin commented on #491
We are unable to replicate this issue. Which school is this person in?

[2022-11-15 16:59] openSISAdmin commented on #490
We are unable to replicate this. Which school is this user associated with?

[2022-11-15 17:02] openSISAdmin commented on #488
True. We should look into this as an enhancement.

In general, this case does not happen since when a teacher takes attendance, he/she takes it for the whole class and not a select few.

[2022-11-15 17:03] openSISAdmin commented on #472
The attendance update is working fine. Closing this ticket.

[2022-11-15 17:03] #472 closed, assigned to ghachey, openSISAdmin

[2022-11-15 17:57] openSISAdmin commented on #469
This is the Take Attendance screen. The missing attendance screen is different and it shows exactly the dates and course periods with missing attendance. User can click on a specific link to take attendance,

[2022-11-15 18:01] openSISAdmin commented on #468
These views are correct. Each of them shows the teacher's schedule from a different view.

We can schedule a Zoom call and explain this or create a video for you.

Which teacher in which school have you scheduled into classes? Please provide this info so that we can make the video.

[2022-11-15 18:05] openSISAdmin commented on #464
@ghachey

Student and Parent portal was not part of the web delivery.

We are writing the APIs now so that they can access it via the mobile app.

[2022-11-15 18:05] #464 closed, assigned to ghachey

[2022-11-15 22:28] ghachey commented on #491
@openSISAdmin I assume this was created when data was loaded from previous system incorrectly. I have fixed myself when I have encountered. This is why you can't replicate. If you want, you could simply replicate as per my comment in https://github.com/PacificEMIS/Pacific-SIS/issues/491#issuecomment-1314797709 but I have already closed the issue.

[2022-11-15 22:32] ghachey commented on #490
@openSISAdmin have you try to take a backup of the live FedSIS and reset the password of user Mr. Sylvester Falognang En? Because that is all that is needed to replicate this.

[2022-11-15 22:34] ghachey commented on #488
This is actually not how this situation happened. This happened by admin taken attendance for a particular student (presumably because said student had permission by admin) and this was done before teacher took attendance for that day. A very plausible scenario I would say.

[2022-11-16 03:14] ghachey opened #494 "Can not assign a school to a staff"
![teacher-can-not-add-school-2022-11-16 105813](https://user-images.githubusercontent.com/1091769/202074775-d448bf47-e02e-4419-8cd8-c3955041fb48.jpg)

[2022-11-16 03:37] ghachey opened #495 "Constant need to manually reset the filter"
Otherwise, the advanced filter "All School" sticks and users get confused by always seeing all the staff for all schools in their school. After browser out and back to Staff Info the filter should be reset automatically to avoid this confusion.

[2022-11-16 03:42] ghachey opened #496 "Can not edit start date twice"
A user will be greeted by this scary message. Would need to browse away and then back to edit twice in a row. Not good.

![can-not-edit-start-date-of-a-school-2022-11-16 113958](https://user-images.githubusercontent.com/1091769/202078228-8a8ba834-808c-403c-8072-59ce1b6db9ef.jpg)

[2022-11-17 02:45] ghachey commented on #491
This remains a problem we still experience. Several users have seen it. Here is another one.

![account-inactive-2022-11-16 102722](https://user-images.githubusercontent.com/1091769/202342277-ab3f4a47-e885-46ad-8f56-913383365478.jpg)

Another user that reported it was Nickson Ebtalug.

[2022-11-17 05:48] ghachey opened #497 "Issue with school assignment"
Here is the scenario that got the system in a bad state.

A teacher was made inactive (leaving the school) and active into another school. When login out and back in. As shown below.

![school-assignment-not-working-2022-11-17 134550](https://user-images.githubusercontent.com/1091769/202366610-406273ee-7f6f-4fbf-b6cf-7a5b0a4af148.jpg)

Then when user login he can't see his new school and seems stu

[2022-11-17 06:47] ghachey opened #498 "block table does not get updated_by data on rollover operation"
![rollover-block-data-2022-11-17 144519](https://user-images.githubusercontent.com/1091769/202375621-189a1129-5678-43a9-b56b-f8c4a568bbe3.jpg)

[2022-11-17 07:26] ghachey opened #499 "Database backup utility broken"
It does not seem to export a valid dump of the database.

[2022-11-17 15:54] openSISAdmin commented on #495
@ghachey
Can you attach a short video of the screen recording so that we can understand exactly what is going on?

[2022-11-17 15:56] openSISAdmin commented on #491
@Sabya-openSIS

while you are fixing this issue, please update the text. The current one is incorrect.

![image](https://user-images.githubusercontent.com/7434280/202494937-b96b55c9-a012-4704-9d67-3fb6bd60afdf.png)

[2022-11-17 16:01] openSISAdmin commented on #447
This is correct behavior. To add a new enrollment record, you have to click on edit and add the new enrollment.

[2022-11-17 16:02] openSISAdmin commented on #447
Maybe, we should turn off the "New" on hover and let the down arrow on the right side stay.

[2022-11-18 04:27] ghachey commented on #495
It's simple. Just choose a school. Do a staff search that includes staff from all school. You will see all staff in the system. Browse away (in that school or even to another school). Come back to Staff info. One would naturally expect to only see their own staff (for example having browsed away to another school) but one sees all the staff still listed with no indication that there is a filter th

[2022-11-18 04:29] ghachey opened #500 "How to handle changes in dates"
We have the following scenario. Can this be handled by the SIS. The school year requires a minimum of say 180 days of instructions. Because of covid,the schools can be close say two weeks of lock down. This has the effect of extending the school year 2 weeks (and thus also changing a little the semesters and quarters). We have tried to adjust the end date of calendars and marking periods but this

[2022-11-18 06:36] ghachey commented on #468
If the views are correct, why is there nothing showing for most days when that teacher is scheduled to teach on all those days? And why is there something shown on Saturday when there are no courses scheduled on Saturdays?

I would definitely like to be "explained" this in a zoom call. I can share my test database with developers. They can then look at teacher Fabro Test Andrew.

![my-schedule-202

[2022-11-18 09:16] ghachey commented on #447
@openSISAdmin I think your suggestion would be more clear. If the behavior is to collapse then just use the collapse button and icon.  The Edit Information to add enrollment is fine as is. It's just the confusion with the + button which is usually used in adding records but clearly it is not what it is used for here.

[2022-11-18 09:18] ghachey commented on #469
@openSISAdmin I maintain my original take on this issue. I think it would be much better to color code those that have been taken vs those that have not on the Take Attendance screen.

[2022-11-22 10:36] Sabya-openSIS commented on #491
@ghachey   Nickson  Ebtalug login email is: nicksonlugmai@gmail.com
![image](https://user-images.githubusercontent.com/69568002/203292506-51f88986-cb3f-476d-a559-c44262ef2bd3.png)

[2022-11-23 13:45] Sabya-openSIS commented on #491
@ghachey @openSISAdmin we can not reproduce the issue.

[2022-11-23 13:48] Sabya-openSIS commented on #498
@ghachey @openSISAdmin

for roll-over new data was inserted in the table that's why the update_by column was set as null.

[2022-11-24 03:09] ghachey commented on #490
@openSISAdmin @Sabya-openSIS to replicate this all you have to do is try to reset the password for another user (not your own) and not be in their first default school. It returns this confusing error where people just get stuck and do not know what to do. If you require the school to be switched to the default school to reset the password of the user then please make this the feedback notificatio

[2022-11-24 03:12] ghachey commented on #491
@openSISAdmin @Sabya-openSIS I can reproduce this with many users? Have you tried making a dump of the production databases and try on those? I just tried with another user and see below. Maybe you try with the same user so you can see it.

Also, don't forget to update the text as mentioned in https://github.com/PacificEMIS/Pacific-SIS/issues/491#issuecomment-1318848062

![inactive-account-2022-11

[2022-11-24 03:15] #498 closed, assigned to ghachey, openSISAdmin

[2022-11-24 03:15] ghachey commented on #498
OK, makes sense.